<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Node.js Crash Course</title>
</head>

<body>
  <h1>Homepage</h1>
  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. At, ad deserunt quibusdam, perferendis eius labore
    ratione eveniet vitae alias neque ut maxime sit! In odio mollitia, harum nisi quos, impedit, doloremque error saepe
    assumenda repellendus dolor dolorum animi eligendi qui. Id officia voluptas repellat alias est dolore, eveniet sint
    itaque veniam sequi accusantium, repudiandae sapiente mollitia quibusdam voluptatum iure exercitationem rem et modi
    vero at, magni impedit? Reprehenderit quasi, repudiandae est eligendi, illum veritatis aut ut non ipsam dolore ipsa
    libero. Quo magnam, accusantium corporis repellendus exercitationem alias eaque, cupiditate, beatae minus odio saepe
    soluta obcaecati quos labore ab? Quia.</p>
</body>

</html>